<!DOCTYPE html>
<html lang="zxx"
xmlns="http://www.w3.org/1999/xhtml"      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- BASIC META-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plan Your Future Studies</title>
    <!-- FAVICON -->
    <link rel="apple-touch-icon" th:href="@{asset/img/favicon/apple-touch-icon.png}"/>
    <link rel="icon" th:href="@{asset/img/favicon/favicon.ico}"/>
    <!-- WEB FONTS  -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i}" rel="stylesheet"/>
    <!-- BOOTSTRAP MIN CSS -->
    <link href="../static/asset/css/bootstrap.min.css" th:href="@{asset/css/bootstrap.min.css}"  rel="stylesheet">
    <!-- ALL PLUGINS CSS -->
    <link href="../static/asset/css/elements.css" th:href="@{asset/css/elements.css}" rel="stylesheet"/>
    <link href="../static/asset/css/w3.css" th:href="@{asset/css/w3.css}" rel="stylesheet"/>
    <!-- THEME STYLE CSS -->
    <link href="../static/asset/style.css" th:href="@{asset/style.css}" rel="stylesheet"/>
    <!-- RESPONSIVE CSS -->
    <link href="../static/asset/responsive.css" th:href="@{asset/responsive.css}" rel="stylesheet"/>
    <!-- HEAD LIBS -->
    <script src="../static/asset/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" th:src="@{asset/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}"></script>

</head>

<body>
    <div id="top"></div>
    <div class="navigation-bar stick">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo">
                        <a class="navbar-brand" th:href="@{/home}"><img th:src="@{asset/img/logo/logo.png}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="navigation">
                        <ul class="list-inline text-right" id="mainmenu">
                            <li sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/admin}">Admin Dashborad</a>
                            </li>
                            <li><a th:href="@{/index}">Home</a></li>
                            <li sec:authorize="hasRole('ROLE_USER')">
                                <a th:href="@{/back_institutions}">Institution Dashborad</a>
                            </li>
                            
                            <li><a th:href="@{/field_of_studies}">Field of Studies</a></li>
                            <li><a th:href="@{/institutions}">Institutions</a></li>
                            <li class="dropdown current-menu-has-children}">
                                <a th:href="@{#}">More</a>
                                <ul class="dropdown-nav dropdown-nav-left}">
                                    <li><a th:href="@{/recommendations}">Recommendations</a></li>
                                    <li><a th:href="@{/scholarships}">Scholarship Links</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">login </a></li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /MOBILE NAVIGATION -->
    <!-- /NAVIGATION -->


    <!-- ABOUT UA AREA -->
    <section class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about-content-table">
                        <div class="about-content-table-sell">
                            <div class="about-heading">
                                <h2>About Us</h2>
                            </div>
                            <div class="about-links">
                                <ul>
                                    <li><a href="index.html">Home <i class="fa fa-angle-left"></i></a></li>
                                    <li><a href="about.html"> About us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT UA AREA END -->

    <!-- WELCOME AREA  -->

    <section class="welcome-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-content">
                        <h2>Welcome to <span>PYFS</span> </h2>
                        <p class="welcome-p1">Plan Your Future Studies is an organization based in Addis Abeba, Ethiopia that aims to help students get education they desire.</p>
                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imper diet doming id quod mazim placerat facer possim assum. Soluta nobis eleifend option congue nihil imper</p>
                        <div class="welcome-social-links">
                            <div class="social-links">
                                <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                                <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                                <a href="#" target="_blank"><span class="ti-vimeo-alt"></span></a>
                                <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                                <a href="#" target="_blank"><span class="ti-google"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="welcome-man-pic">
                        <img src="asset/img/slider-img/welcome-man.png" alt="man picture">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- WELCOME AREA END -->

    <!--FUN FACT AREA AREA-->
<!-- 
    <section class="fan-fact-area fan-fact-area-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 ">
                    <div class="single-items">
                        <h2><span class="counter">1350</span>+</h2>
                        <img src="asset/img/fun-fact/fan-fact-1.png" alt="fan-fact-1">
                        <h4>Registared Domains</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <div class="single-items">
                        <h2><span class="counter">950</span>+</h2>
                        <img src="asset/img/fun-fact/fan-fact-2.png" alt="fan-fact-2">
                        <h4>Sites Hosted</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <div class="single-items">
                        <h2><span class="counter">1080</span>+</h2>
                        <img src="asset/img/fun-fact/fan-fact-3.png" alt="fan-fact-3">
                        <h4>Happy Clients</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="single-items">
                        <h2><span class="counter">226</span>+</h2>
                        <img src="asset/img/fun-fact/fan-fact-4.png" alt="fan-fact-4">
                        <h4>Awards Won</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
 -->
    <!--FUN FACT AREA AREA END-->

    <!--SERVICE AREA-->

<!--     <section class="service-area wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Why <span>Flake</span> is So Good?</h2>
                        <img src="asset/img/section-shape.png" alt="section-shape">
                        <p>Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad teimpor sittemelit inuning ut sed.</p>
                    </div>
                </div>
            </div>
            <div class="service-teatimonial">
                <div class="service-teatimonial-single-item ">
                    <div class="service-teatimonial-item-inner">
                        <img src="asset/img/service/service-icon.png" alt="service-icon">
                        <h2>Resellers Hosting</h2>
                        <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed do eiusmoad teimpor inunt ut .</p>
                    </div>
                </div>
                <div class="service-teatimonial-single-item ">
                    <div class="service-teatimonial-item-inner">
                        <img src="asset/img/service/service-icon-2.png" alt="service-icon-2">
                        <h2>Resellers Hosting</h2>
                        <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed do eiusmoad teimpor inunt ut .</p>
                    </div>
                </div>
                <div class="service-teatimonial-single-item ">
                    <div class="service-teatimonial-item-inner">
                        <img src="asset/img/service/service-icon-3.png" alt="service-icon-3">
                        <h2>Resellers Hosting</h2>
                        <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed do eiusmoad teimpor inunt ut .</p>
                    </div>
                </div>
                <div class="service-teatimonial-single-item ">
                    <div class="service-teatimonial-item-inner">
                        <img src="asset/img/service/service-icon.png" alt="service-icon-4">
                        <h2>Resellers Hosting</h2>
                        <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed do eiusmoad teimpor inunt ut .</p>
                    </div>
                </div>
                <div class="service-teatimonial-single-item ">
                    <div class="service-teatimonial-item-inner">
                        <img src="asset/img/service/service-icon-2.png" alt="service-icon-5">
                        <h2>Resellers Hosting</h2>
                        <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed do eiusmoad teimpor inunt ut .</p>
                    </div>
                </div>
                <div class="service-teatimonial-single-item ">
                    <div class="service-teatimonial-item-inner">
                        <img src="asset/img/service/service-icon-3.png" alt="service-icon-6">
                        <h2>Resellers Hosting</h2>
                        <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed do eiusmoad teimpor inunt ut .</p>
                    </div>
                </div>
            </div>
            <div class="slider-btns-1">
                <button class="service-nav-left"><span class="ti-angle-left"></span></button>
                <button class="service-nav-right"><span class="ti-angle-right"></span></button>
            </div>
        </div>
    </section> -->
    <!--SERVICE TWO  END-->

    <!--TEAM AREA-->

<!--     <section class="team-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Why <span>Flake</span> is So Good?</h2>
                        <img src="asset/img/section-shape.png" alt="section shape">
                        <p>Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad teimpor sittemelit inuning ut sed sittem do eiusmod.</p>
                    </div>
                </div>
            </div>
            <div class="team-carosuel">
                <div class="team-carosule-single-item">
                    <img src="asset/img/team/team-member.jpg" alt="team member">
                    <div class="team-meta">
                        <h4>Anna Watson</h4>
                        <p>Strategic Planner</p>
                    </div>
                    <div class="team-overlay">
                        <h5>Anna Watson</h5>
                        <p class="meta-p">Founder</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                        <div class="team-social-links">
                            <div class="social-links">
                                <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                                <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                                <a href="#" target="_blank"><span class="ti-vimeo-alt"></span></a>
                                <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                                <a href="#" target="_blank"><span class="ti-google"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-carosule-single-item">
                    <img src="asset/img/team/team-member-2.jpg" alt="team member">
                    <div class="team-meta">
                        <h4>M S Newaz</h4>
                        <p>Strategic Planner</p>
                    </div>
                    <div class="team-overlay">
                        <h5>M S Newaz</h5>
                        <p class="meta-p">Strategic Planner</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                        <div class="team-social-links">
                            <div class="social-links">
                                <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                                <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                                <a href="#" target="_blank"><span class="ti-vimeo-alt"></span></a>
                                <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                                <a href="#" target="_blank"><span class="ti-google"></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-carosule-single-item">
                    <img src="asset/img/team/team-member-3.jpg" alt="team member">
                    <div class="team-meta">
                        <h4>Cristian Elora</h4>
                        <p>Art Director</p>
                    </div>
                    <div class="team-overlay">
                        <h5>Cristian Elora</h5>
                        <p class="meta-p">Art Director</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                        <div class="team-social-links">
                            <div class="social-links">
                                <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                                <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                                <a href="#" target="_blank"><span class="ti-vimeo-alt"></span></a>
                                <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                                <a href="#" target="_blank"><span class="ti-google"></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-carosule-single-item">
                    <img src="asset/img/team/team-member-4.jpg" alt="team member">
                    <div class="team-meta">
                        <h4>Ohidul Islam</h4>
                        <p>Web Developer</p>
                    </div>
                    <div class="team-overlay">
                        <h5>Ohidul Islam</h5>
                        <p class="meta-p">Web Developer</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                        <div class="team-social-links">
                            <div class="social-links">
                                <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                                <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                                <a href="#" target="_blank"><span class="ti-vimeo-alt"></span></a>
                                <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                                <a href="#" target="_blank"><span class="ti-google"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-carosule-single-item">
                    <img src="asset/img/team/team-member.jpg" alt="team member">
                    <div class="team-meta">
                        <h4>Anna Watson</h4>
                        <p>Strategic Planner</p>
                    </div>
                    <div class="team-overlay">
                        <h5>Anna Watson</h5>
                        <p class="meta-p">Strategic Planner</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                        <div class="team-social-links">
                            <div class="social-links">
                                <a href="#" target="_blank"><span class="ti-facebook"></span></a>
                                <a href="#" target="_blank"><span class="ti-twitter-alt"></span></a>
                                <a href="#" target="_blank"><span class="ti-vimeo-alt"></span></a>
                                <a href="#" target="_blank"><span class="ti-pinterest"></span></a>
                                <a href="#" target="_blank"><span class="ti-google"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 -->    <!--TEAM AREA  END-->

    <!--TESTIMONIAL-AREA -->

    <section class="testimonial-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2><span>Testimonials</span> </h2>
                        <img src="asset/img/section-shape.png" alt="section shape">
                        <p>Here are some of the testimonials we recieved from students all around Etiopia.</p>
                    </div>
                </div>
            </div>
            <div class="testi-carousel">
                <div class="testi-single-item ">
                    <div class="item-inner">
                        <img src="asset/img/testimonial/testimonial-icon-1.png" alt="testimonial-icon">
                        <p>Lorem ipsum dolor sit amet, consectetur adip mayal eiusmod tempor incubtconsectetur aliqua. Ultra enim ad nim veniam, quis nostrud exercitation ullamco</p>
                        <div class="testimonial-meta">
                            <h4>Haddish Kinfe</h4>
                            <p>From Axum</p>
                        </div>
                    </div>
                </div>
                <div class="testi-single-item wow ">
                    <div class="item-inner">
                        <img src="asset/img/testimonial/testimonial-icon-1.png" alt="testimonial-icon">
                        <p>Lorem ipsum dolor sit amet, consectetur adip mayal eiusmod tempor incubtconsectetur aliqua. Ultra enim ad nim veniam, quis nostrud exercitation ullamco</p>
                        <div class="testimonial-meta">
                            <h4>Belachew Temesgen</h4>
                            <p>From Bahirdar</p>
                        </div>
                    </div>
                </div>
                <div class="testi-single-item ">
                    <div class="item-inner">
                        <img src="asset/img/testimonial/testimonial-icon-1.png" alt="testimonial-icon">
                        <p>Lorem ipsum dolor sit amet, consectetur adip mayal eiusmod tempor incubtconsectetur aliqua. Ultra enim ad nim veniam, quis nostrud exercitation ullamco</p>
                        <div class="testimonial-meta">
                            <h4>Berhanu Beyene</h4>
                            <p>From Asosa</p>
                        </div>
                    </div>
                </div>
                <div class="testi-single-item ">
                    <div class="item-inner">
                        <img src="asset/img/testimonial/testimonial-icon-1.png" alt="testimonial-icon">
                        <p>Lorem ipsum dolor sit amet, consectetur adip mayal eiusmod tempor incubtconsectetur aliqua. Ultra enim ad nim veniam, quis nostrud exercitation ullamco</p>
                        <div class="testimonial-meta">
                            <h4>Belachew Andinet</h4>
                            <p>From Mekelle</p>
                        </div>
                    </div>
                </div>
                <div class="testi-single-item ">
                    <div class="item-inner">
                        <img src="asset/img/testimonial/testimonial-icon-1.png" alt="testimonial-icon">
                        <p>Lorem ipsum dolor sit amet, consectetur adip mayal eiusmod tempor incubtconsectetur aliqua. Ultra enim ad nim veniam, quis nostrud exercitation ullamco</p>
                        <div class="testimonial-meta">
                            <h4>Addis Abebe</h4>
                            <p>From Gondar</p>
                        </div>
                    </div>
                </div>
                <div class="testi-single-item ">
                    <div class="item-inner">
                        <img src="asset/img/testimonial/testimonial-icon-1.png" alt="testimonial-icon">
                        <p>Lorem ipsum dolor sit amet, consectetur adip mayal eiusmod tempor incubtconsectetur aliqua. Ultra enim ad nim veniam, quis nostrud exercitation ullamco</p>
                        <div class="testimonial-meta">
                            <h4>Semere Belachew</h4>
                            <p>From Addis Abeba</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-btns">
                <button class="testi-nav-left"><span class="ti-angle-left"></span></button>
                <button class="testi-nav-right"><span class="ti-angle-right"></span></button>
            </div>
        </div>
    </section>

	    <!--FOOTER AREA -->

    <section class="footer-area" style="margin-top: -250px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 ">
                    <div class="footer-single-item">
                        <div class="logo">
                            <a th:href="@{/home}"><img th:src="@{asset/img/logo/logo.png}" alt="logo"></a>
                        </div>
                        <p>Plan Your Future Studies is an organization based in Addis Abeba, Ethiopia that aims to help students get education they desire.</p>
                        <p class="contact-info"><span class="ti-headphone-alt"></span><a th:href="@{tel:+251921467263}">+251 921 467 263</a></p>
                        <p class="contact-info"><span class=" ti-email"></span><a th:href="@{mailto:hasan.nazmulmmc@gamil.com}">www.pyfs.com</a> </p>
                        <p class="contact-info"><span class="ti-location-pin"></span><a th:href="@{#}">5 Kilo<br>Addis Abeba, Ethiopia.</a></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <div class="single-footer margin-left">
                        <h2 >About</h2>
                        <div class="footer-links">
                            <ul>
                                <li><a th:href="@{/home}">Home</a></li>
                                <li><a th:href="@{/about}">About Us</a></li>
                                <li><a th:href="@{#top}">Search Interest</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <div class="single-footer">
                        <h2>Services</h2>
                        <div class="footer-links">
                            <ul>
                                <li><a th:href="@{/field_of_studies}">Field of Studies</a></li>
                                <li><a th:href="@{/institutions}">Institutions</a></li>
                                <li><a th:href="@{/scholarships}">Scholarship Links</a></li>
                                <li><a th:href="@{/recommendations}">Recommendations</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER AREA  END -->



    <!--FOOTER-BOTTOM-AREA -->

    <section class="foter-botom-area " style="margin-top: -60px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 " style="margin-left: 350px;">
                    <p>Copyright &copy; 2018<a th:href="@{/index.php}">Plan Your Future Studies</a>all right reserved.</p>
                </div>
          </div>
        </div>
    </section>

    <script th:src="@{asset/js/jquery.min.js}"></script>
    <script th:src="@{asset/js/bootstrap.min.js}"></script>
    <script th:src="@{asset/js/plugins.js}"></script>
    <script th:src="@{asset/js/ajax-mail.js}"></script>
    <script th:src="@{asset/js/ajax-subscribe.js}"></script>
    <script th:src="@{asset/js/main.js}"></script>
</body>

</html>