<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"  lang="zxx"
xmlns="http://www.w3.org/1999/xhtml"      xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- BASIC META-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plan Your Future Studies</title>
    <!-- FAVICON -->
    <link rel="apple-touch-icon" th:href="@{asset/img/favicon/apple-touch-icon.png}"/>
    <link rel="icon" th:href="@{asset/img/favicon/favicon.ico}"/>
    <!-- WEB FONTS  -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i}" rel="stylesheet"/>
    <!-- BOOTSTRAP MIN CSS -->
    <link href="../static/asset/css/bootstrap.min.css" th:href="@{asset/css/bootstrap.min.css}"  rel="stylesheet">
    <!-- ALL PLUGINS CSS -->
    <link href="../static/asset/css/elements.css" th:href="@{asset/css/elements.css}" rel="stylesheet"/>
    <link href="../static/asset/css/w3.css" th:href="@{asset/css/w3.css}" rel="stylesheet"/>
    <!-- THEME STYLE CSS -->
    <link href="../static/asset/style.css" th:href="@{asset/style.css}" rel="stylesheet"/>
    <!-- RESPONSIVE CSS -->
    <link href="../static/asset/responsive.css" th:href="@{asset/responsive.css}" rel="stylesheet"/>
    <!-- HEAD LIBS -->
    <script src="../static/asset/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" th:src="@{asset/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js}"></script>

</head>

<body>
    <div id="top"></div>
    <div class="navigation-bar stick">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="logo">
                        <a class="navbar-brand" th:href="@{/home}"><img th:src="@{asset/img/logo/logo.png}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="navigation">
                        <ul class="list-inline text-right" id="mainmenu">
                            
                            <li sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/admin}">Admin Dashborad</a>
                            </li>
                            <li sec:authorize="hasRole('ROLE_USER')">
                                <a th:href="@{/back_institutions}">Institution Dashborad</a>
                            </li>
                            
                            <li><a th:href="@{/field_of_studies}">Field of Studies</a></li>
                            <li><a th:href="@{/institutions}">Institutions</a></li>
                            <li class="dropdown current-menu-has-children}">
                                <a th:href="@{#}">More</a>
                                <ul class="dropdown-nav dropdown-nav-left}">
                                    <li><a th:href="@{/recommendations}">Recommendations</a></li>
                                    <li><a th:href="@{/scholarships}">Scholarship Links</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">login </a></li>
                            

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="homepage-slider-2 slider-2-bg ">
        <div class="clouds">
            <img style="width: 100%;
                        background-position: center;
                        background-color: #ddd;
                        z-index: 1;"
                 th:src="@{asset/img/bg/slider-home-page2.jpg}" alt="cloud">
            <img th:src="@{asset/img/cloud/cloud-6.png}" alt="cloud" class="cloud1">
            <img th:src="@{asset/img/cloud/cloud-2.png}" alt="cloud" class="cloud3">
            <img th:src="@{asset/img/cloud/cloud-3.png}" alt="cloud" class="cloud4">
            <img th:src="@{asset/img/cloud/cloud-1.png}" alt="cloud" class="cloud1">
            <img th:src="@{asset/img/cloud/cloud-5.png}" alt="cloud" class="cloud2">
            <img th:src="@{asset/img/cloud/cloud-6.png}" alt="cloud" class="cloud6">
            <img th:src="@{asset/img/cloud/cloud-7.png}" alt="cloud" class="cloud7">
            <img th:src="@{asset/img/cloud/cloud-5.png}" alt="cloud" class="cloud8">
        </div>

        <div class="single-slider-item">
            <div class="container">
                <div class="row ">
                    <div class="slider-content-area-table">
                        <div class="slider-content-area-table-cell">
                            <div class="col-md-12 col-sm-12 wow slideInLeft " data-wow-duration="2s" data-wow-delay="0.4s">
                                <div class="slider-content" style="margin-top: -100px;">
                                    <h2 style="font-weight: bold; font-size: 70px;">FINDING EDUCATION MADE EASY.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="homepage-2 domain-area ">
        <div class="container domain-inner" style="margin-top: -50px;">
            <div class="row domain-checkup">
          
                 <form id="digita-contact-form" action="/users">
                    <div class="domain-checkup-left">
                        <div class="input-field-row">
                            <input type="text" name="keywords" autocomplete="off" class="domain-input" placeholder="Enter your Interest or Colleges Here" />
                        </div>
                    </div>
                        <input style="padding: 20px 65px 20px 65px; border-style: none; border-radius: 5px; font-size: 1.2em; background: #3385ff; color: white;" type="submit" value="Search" />
                </form>
          
             </div>
            <div class="row">
                <div class="domain-tld-prices">
                </div>
            </div>
        </div>
    </section>
    <section class="footer-area" style="margin-top: -250px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 ">
                    <div class="footer-single-item">
                        <div class="logo">
                            <a th:href="@{/home}"><img th:src="@{asset/img/logo/logo.png}" alt="logo"></a>
                        </div>
                        <p>Plan Your Future Studies is an organization based in Addis Abeba, Ethiopia that aims to help students get education they desire.</p>
                        <p class="contact-info"><span class="ti-headphone-alt"></span><a th:href="@{tel:+251921467263}">+251 921 467 263</a></p>
                        <p class="contact-info"><span class=" ti-email"></span><a th:href="@{mailto:hasan.nazmulmmc@gamil.com}">www.pyfs.com</a> </p>
                        <p class="contact-info"><span class="ti-location-pin"></span><a th:href="@{#}">5 Kilo<br>Addis Abeba, Ethiopia.</a></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <div class="single-footer margin-left">
                        <h2 >About</h2>
                        <div class="footer-links">
                            <ul>
                                <li><a th:href="@{/home}">Home</a></li>
                                <li><a th:href="@{/about}">About Us</a></li>
                                <li><a th:href="@{#top}">Search Interest</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 ">
                    <div class="single-footer">
                        <h2>Services</h2>
                        <div class="footer-links">
                            <ul>
                                <li><a th:href="@{/field_of_studies}">Field of Studies</a></li>
                                <li><a th:href="@{/institutions}">Institutions</a></li>
                                <li><a th:href="@{/scholarships}">Scholarship Links</a></li>
                                <li><a th:href="@{/recommendations}">Recommendations</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER AREA  END -->



    <!--FOOTER-BOTTOM-AREA -->

    <section class="foter-botom-area " style="margin-top: -60px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 " style="margin-left: 350px;">
                    <p>Copyright &copy; 2018<a th:href="@{/index.php}">Plan Your Future Studies</a>all right reserved.</p>
                </div>
          </div>
        </div>
    </section>

    <script th:src="@{asset/js/jquery.min.js}"></script>
    <script th:src="@{asset/js/bootstrap.min.js}"></script>
    <script th:src="@{asset/js/plugins.js}"></script>
    <script th:src="@{asset/js/ajax-mail.js}"></script>
    <script th:src="@{asset/js/ajax-subscribe.js}"></script>
    <script th:src="@{asset/js/main.js}"></script>
</body>

</html>