<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Plan Your Future Studies - Institutions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <script type="text/javascript" th:src="@{assets/js/jquery.min.js}"></script>

    <!--  <link rel="stylesheet" th:href="@{/assets/css/style.css}"> -->
    <link rel="stylesheet" th:href="@{/assets/css/loader-style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/assets/css/signin.css}">






    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" th:href="@{assets/ico/minus.png}">
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <div class="container" style="margin-top: 180px;">



        <div class="" id="login-wrapper">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div id="logo-login">
                        <h1>Plan Your Future Studies
                            <span style="font-size: 20px;">Admin / Institutions Login</span>
                        </h1>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="account-box">
			    	<div class="alert alert-danger" th:if="${param.error}">
	
     <h2>Invalid Email or Password</h2>	
     </div>
			
                        <form method="POST" th:action="@{/login}" id="loginForm">
                            <div class="form-group">
                            <!--     <a href="#" class="pull-right label-forgot">Forgot email?</a> -->
                                <label for="inputUsernameEmail">Email</label>
                                <input type="text" id="inputUsernameEmail" name="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                            <!--     <a href="#" class="pull-right label-forgot">Forgot password?</a> -->
                                <label for="inputPassword">Password</label>
                                <input type="password" id="inputPassword" class="form-control" name="password" required>
                            </div>
<!--                            <div class="checkbox pull-left">
                                <label>
                                    <input type="checkbox">Remember me</label>
                            </div>
 -->                            <button class="btn btn btn-primary pull-right" type="submit" value="Login">
                                Log In
                            </button>
                        </form>
                        
                        <a style="text-decoration: none; color: white; " th:href="@{/home}"><p style="margin-right: 80%; margin-top: -11%;" class="btn btn btn-primary pull-right" type="submit">
                                Home
                            </a></p>
                       
                        <!-- <p href="index.html">Home</p> -->
<!--                        <a class="forgotLnk" href="index.html"></a>
                         <div class="or-box">
                          
                            <center><span class="text-center login-with">Login or <b>Sign Up</b></span></center>
                            <div class="row">
                                <div class="col-md-6 row-block">
                                    <a href="index.html" class="btn btn-facebook btn-block">
                                        <span class="entypo-facebook space-icon"></span>Facebook</a>
                                </div>
                                <div class="col-md-6 row-block">
                                    <a href="index.html" class="btn btn-twitter btn-block">
                                        <span class="entypo-twitter space-icon"></span>Twitter</a>
                                        
                                </div>

                            </div>
                            <div style="margin-top:25px" class="row">
                                <div class="col-md-6 row-block">
                                    <a href="index.html" class="btn btn-google btn-block"><span class="entypo-gplus space-icon"></span>Google +</a>
                                </div>
                                <div class="col-md-6 row-block">
                                    <a href="index.html" class="btn btn-instagram btn-block"><span class="entypo-instagrem space-icon"></span>Instagram</a>
                                </div>

                            </div>
                        </div> -->
                        
                        <br>
                        
<!--                         <div class="row-block">
                            <div class="row">
                                <div class="col-md-12 row-block">
                                    <a href="index.html" class="btn btn-primary btn-block">Create New Account</a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>





        <div style="text-align:center;margin:0 auto;">
            <h6 style="color:#fff;">Powered by © Plan Your Future Studies 2019</h6>
        </div>

    </div>
    <div id="test1" class="gmap3"></div>



    <!--  END OF PAPER WRAP -->




    <!-- MAIN EFFECT -->
    <script type="text/javascript" src="assets/js/preloader.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/load.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>

<!--     <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script type="text/javascript" src="assets/js/map/gmap3.js"></script>
    <script type="text/javascript">
    $(function() {

        $("#test1").gmap3({
            marker: {
                latLng: [-7.782893, 110.402645],
                options: {
                    draggable: true
                },
                events: {
                    dragend: function(marker) {
                        $(this).gmap3({
                            getaddress: {
                                latLng: marker.getPosition(),
                                callback: function(results) {
                                    var map = $(this).gmap3("get"),
                                        infowindow = $(this).gmap3({
                                            get: "infowindow"
                                        }),
                                        content = results && results[1] ? results && results[1].formatted_address : "no address";
                                    if (infowindow) {
                                        infowindow.open(map, marker);
                                        infowindow.setContent(content);
                                    } else {
                                        $(this).gmap3({
                                            infowindow: {
                                                anchor: marker,
                                                options: {
                                                    content: content
                                                }
                                            }
                                        });
                                    }
                                }
                            }
                        });
                    }
                }
            },
            map: {
                options: {
                    zoom: 15
                }
            }
        });

    });
    </script>
 -->



</body>

</html>
